<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/datepicker.css">
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script src="/static/js/mycookies.js"></script>
</head>

<body>
<div class="container">
    <form action="" method="post" id="book_form">
        {{ csrf_token }}
        <div class="row">
            <div class="span8 offset2">
                <div id="todo" class="well">
                <table class="table table-hover" id="data_table">
                    <thead>
                        <tr>
                            <td>
                                <h3 class="text-success">The Book List</h3>
                                <a id="add_book" class="btn btn-warning glyphicon glyphicon-plus" href="{% url "add_book" %}"
                                 data-target="#addBookModal" data-toggle="modal">
                                    <i class="icon-plus icon-white"></i><span>添加</span>
                                </a>
                                <a id="search" class="btn btn-warning" role="button" data-toggle="modal">
                                    <i class="icon-white"></i><span>查询</span>
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                 <div class="paginator pagelist"></div>
                 <input type="hidden" name="page" value="1" id="pageinput">
            </div>
        </div>
            </div>
    </form>
</div>

<!-- 模态框（Modal) add -->
<div class="modal fade" id="addBookModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            在这里添加一些文本
         </div>
      </div>
    </div>
</div>
<!-- Modal end -->

<!-- 模态框(Modal) edit -->
<div class="modal fade" id="editBookModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            在这里添加一些文本
         </div>
      </div>
    </div>
</div>
<!-- Modal end -->
</body>
</html>
<script type="text/javascript">
$(function(){
     var current_page = 1;
     var url = "{% url "list_book_data" %}";
     var options = {
        url:  url,
        type: 'post',
        forceSync: true,
        beforeSubmit:  validatePost,
        success:       reponseQuery,
        dataType: 'json'
    };

    function validatePost()
    {
        return true;
    }
    function reponseQuery(responseText, statusText, xhr, $form)
    {
        appendListData(responseText);
    }

    $("#search").bind('click', function(){
        $("#book_form").submit();
    });

    window.loadBookData = function(){
        $("#book_form").ajaxSubmit(options);
        return false;
    }

    window.onload = function(){
        loadBookData();
    };

    //点击页码执行ajax请求
    $(document).delegate("div.paginator > a", 'click', function(){
        current_page = $(this).attr("rel");
        $("#pageinput").val(current_page);
        $("#book_form").submit();
    });

    $("#book_form").submit(function(){
        $(this).ajaxSubmit(options);
        return false;
    });

    //加载数据
    function appendListData(data)
    {
        html = "";
        $.each(data.rows, function(k,v){
            html += '<tr>'
                 + '<td>'
                 + v.id
                 + '</td>'
                 + '<td>'
                 + v.title
                 + '</td>'
                 + '<td>'
                 + v.name
                 + '</td>'
                 + '<td>'
                 + v.authorName
                 + '</td>'
                 + '<td>'
                 + v.address
                 + '</td>'
                 + '<td>'
                 + '<a href="javascript:void(0)" href="" book_id="'
                 + v.id
                 + '" class="btn btn-primary btn-sm model_btn_edit">'
                 + '<span class="glyphicon glyphicon-pencil"></span>'
                 + '</a>'
                 + '</td>'
                 + '</tr>';
        });
        $("#data_table tbody").html(html);
        $(".pagelist").html(data.pagehtml);

        $("a.model_btn_edit").each(function(){
            $(this).bind('click', function(){
                //var url = "/book/edit_book/?id=" + $(this).attr("book_id");
                var url = "/book/edit_book/" + $(this).attr("book_id");
                console.log('url:', url);
                $("#editBookModal .modal-content").load(url);
                $("#editBookModal").modal('show');
            });
        });
    }


});
</script>